.article-header {
  width: 100vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 30vw;
  height: 2vw;
  border-radius: 0.5vw;
  border: 2px solid black;
}

.NgxEditor__Wrapper {
  border: none;
  outline: none;
}

.view-article-page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.black-square {
  background: black;
  border: black solid 4px;
  border-radius: 4px;
}

.change-button {
  background: url("../../assets/images/edit.svg") no-repeat center;
  width: 3vw;
  height: 3vw;
}

.change-button:hover {
  cursor: pointer;
}
