<div class="admin-console-page">
  <div class="admin-menu">
    <button class="download-history-button" (click)="downloadHistory()">Download</button>
    <div class="file-apply">
      <input id="history-apply" type="file" (change)="applyHistory($event)">
      <label for="history-apply">Apply</label>
    </div>
  </div>
  <div class="question-widget">
    <div class="question-header" (click)="toggleQuestionsOpened()">Questions</div>
    <table class="question-table" *ngIf="questionsOpened">
      <thead>
      <th>Id</th>
      <th>Contact</th>
      <th>Ip</th>
      <th>Text</th>
      <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let question of questions">
        <td>{{question.id}}</td>
        <td>{{question.contact}}</td>
        <td>{{question.ip}}</td>
        <td>{{question.text}}</td>
        <td class="delete-question-button" (click)="deleteQuestion(question.id)">Delete</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
